<p>Reminders coming soon of <%= @title %>:</p>
<p> - Room: <%= @room_name %></p>
<p> - Description: <%= @description %></p>
<p> - Start date: <%= @start_date.strftime('%m-%d-%Y %H-%M') %></p>
<p> - End date: <%= @end_date.strftime('%m-%d-%Y %H-%M') %></p>
