<p><%= @title %> will start in 10 minutes:</p>
<p> - Room: <%= @room_name %></p>
<p> - Description: <%= @description %></p>
<p> - Start date: <%= @start_date %></p>
<p> - End date: <%= @end_date %></p>
