<p><%= @user_name %> makes request to booked room with the info below:</p>
<p> - Room: <%= @room_name %></p>
<p> - Title: <%= @title %></p>
<p> - State: <%= @state %></p>
<p> - Description: <%= @description %></p>
<p> - Start date: <%= @start_date %></p>
<p> - End date: <%= @end_date %></p>
<% if @daily.present? && @daily == 'true' %>
<p> - Booking Type: Daily</p>
<% end %>
